*, html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #333333;
}

p {
    color: #555555;
    line-height: 1.2;
}

a {
    color: #3e80ff;
}

a::after {
    content: ' »'
}

a:hover {
    background: rgba(0,0,0,0.03);
}